.httr-oauth
.RData
.Rhistory
.Rprofile
.Rproj.user
.Ruserdata
apply_to_all_songs.R
Einzellieder_Akkorde_Noten/
GoDi/
OpenSong/.dropbox
OpenSong/Backgrounds/
OpenSong/desktop.ini
OpenSong/old/
OpenSong/Sets/
OpenSong/Sets_old/
OpenSong/Settings/
OpenSong/Songs/Termine
OpenSong/Songs_examples/
OpenSong/zz_mix_shared/

SongBeamerGemeinde/

Worship/altesZeug/
Worship/Anordnung.xls
Worship/GoDi/
Worship/inhalt.txt
Worship/inhalt.xls
Worship/Liederbuecher_aktiveZeile.xls
Worship/Songsheet (Seite + 14).pdf

zz_chords.Rproj
